[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/app/boardgamers/recommend/venv/bin/uwsgi -i /home/ubuntu/app/boardgamers/recommend/.config/uwsgi/recommend.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target